<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title || "Noor Al-Huda" %></title>
    <link rel="icon" type="image/png" style="border-radius: 50%;"   href="images/favicon.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Explore the life and teachings of Prophet Muhammad (PBUH) with IlmBot, daily Hadith, historical places, Islamic quizzes, naats, and Seerat resources. A comprehensive web app for learning about Islam.">
    <meta name="keywords" content="Seerat, Prophet Muhammad, Islam, Hadith, IlmBot, Islamic History, Sunnah, Islamic Quiz, Quran, Naat, Islamic Resources, Prophet's Life, Historical Islamic Places">
    <meta name="author" content="Mohd Adnan Khan">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Seerat Web - Learn About Prophet Muhammad (PBUH)">
    <meta property="og:description" content="A web app dedicated to the life and teachings of Prophet Muhammad (PBUH), featuring Hadith, IlmBot, historical places, naats, Islamic quizzes, and resources.">

</head>
<body>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let userId = localStorage.getItem("user_id");
        
            if (!userId) {
                userId = generateUUID();
                localStorage.setItem("user_id", userId);
            }
        
            sendUserIdToBackend(userId);
        
            function generateUUID() {
                return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
                    let r = Math.random() * 16 | 0, v = c === 'x' ? r : (r & 0x3 | 0x8);
                    return v.toString(16);
                });
            }
        
            async function sendUserIdToBackend(userId) {
                try {
                    await fetch("/track-user", {
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ user_id: userId })
                    });
                } catch (error) {
                    console.error("Error tracking user:", error);
                }
            }
        });
        </script>